:root{
    --dims: 320px;
}

.contentDiv{
    margin: 80px 0;
}
.modal-content{
/*     max-height: 90vh; */
    max-width: 90vw;
}
.modal-img{
    max-height: 100%;
    max-width: 100%;
    padding: 25px;
    padding-bottom: 15px; 
    object-fit: scale-down;
}
.img-grid{
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,var(--dims));
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.painting{
    object-fit: cover;
    width: var(--dims);
    height: var(--dims);
    cursor: pointer;
    box-shadow: 0 1px 10px;
}


@media (max-width: 1350px)
{
    :root{
        --dims: 280px;
    }
}

@media (max-width: 1200px)
{
    :root{
        --dims: 280px;
    }
    .img-grid{
        grid-template-columns: repeat(3,var(--dims));
    }
}

@media (max-width: 960px)
{
    :root{
        --dims: 260px;
    }
}

@media (max-width: 800px)
{
    :root{
        --dims: 300px;
    }
    .img-grid{
        grid-template-columns: repeat(2,var(--dims));
    }
}

@media (max-width: 650px)
{
    .contentDiv{
        margin: 80px 0;
    }
    :root{
        --dims: clamp(300px,80vw,600px);
    }
    .img-grid{
        grid-template-columns: repeat(1,var(--dims));
    }
}