#main:lang(ar){
    flex-direction: row-reverse;
}


.img-div{
    position: fixed;
    top: 50vh;
    left: 25vw;
    transform: translate(-30%,-30%);
    max-width: 450px;
    width: 100%;
}

p:lang(ar){
    text-align: right;
}

@media (max-width: 576px){
    #main{
        padding: 10px;
    }
    .about{
        font-size: 1rem;
    }
    
}

@media (max-width: 768px){
    .img-div{
        position: initial;
        transform: none;
    }
    #main{
        margin-top: 50px;
    }
    
}