#contactForm{
    max-width: 600px;
}



input:lang(ar){
    text-align: right;
}
input:lang(ar)::placeholder{
    text-align: right;
}

textarea:lang(ar){
    text-align: right;
}
textarea:lang(ar)::placeholder{
    text-align: right;
}

#contactForm button{
    margin-right: auto;
}

h4{
    margin-top: 100px;
}

.weblinks{
    margin-left: -110px;
}

.weblinks > a{
    padding: 0 clamp(5px,0.1vw,8px);
}



@media (max-width: 576px){
    #contactForm{
        padding: 10px;
    }
}