:root{
    --dims: 200px;
    --row-size: clamp(550px,75vh,700px);
    --col-size: clamp(300px,30vw,420px);
    --cols: 3;
    --rows: 1;
}
a{
    text-decoration: none !important;;
}

.gen-link{
    transition: all 210ms ease-in;
}

.gen-link.gen-hover{
    transform: scale(1.05);
}
.contentDiv{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--cols),var(--col-size));
    grid-template-rows: repeat(var(--rows),var(--row-size));
    justify-items: center;
    align-items: center;
    gap: 1em;
    margin: 50px 0px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.tile>a{
    display: flex;
    color: white;
    width: 100%;
    height: 100%;
}

.textDiv{
    margin: auto;
    font-size: 2rem;
}

.tile>.hover-effect{
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 800ms ease-in;
}
img{
    position: absolute;
    object-fit: cover;
    object-position: left top;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.textDiv{
    color: white;
}


.mainTile{
    height: 100%;
    width: 100%;
    gap: 5px;
}

#mainTile-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        'tile-1 tile-1'
        'tile-3 tile-3'
        'tile-3 tile-3'
    ;
}
#mainTile-1>.tile-1{
    grid-area: tile-1;
    font-size: 2rem;
}

#mainTile-1>.tile-3{
    grid-area: tile-3;
}

#mainTile-2 {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-areas: 
        'tile-1'
        'tile-2'
    ;
}

#mainTile-2>.tile-1{
    grid-area: tile-1;
}
#mainTile-2>.tile-2>.hover-effect>.textDiv{
    color: white;
    margin-top: 180px;
/*     background-color: white; */
    font-size: clamp(1.2rem,3vw,1.5rem);
}

#mainTile-3>.tile-1>.hover-effect{
    position: absolute;
}

#mainTile-3>.tile-1>.textDiv{
    color: black;
}

.hover-effect.is-clicked{
    filter: blur(3px);
    opacity: 0.1;
}

.link-light > img:nth-child(1){
    height: 100%;
    width: 100%;
}
.showcase{
    font-size: 3rem;
}

@media (max-width: 768px){
    .contentDiv{
        margin-top: 100px; 
    }
    :root{
        --cols: 1;
        --rows: 3;
        --col-size: clamp(350px,70%,600px);
        --row-size: 600px;
    }
}