*{
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda', 'Noto Kufi Arabic', serif;
}
body{
    width: 100%;
    height: 100%;
/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.menu-en:lang(en) , .menu-ar:lang(ar) , .menu-ar:lang(es){
    display: inline !important;
}

.drop-en:lang(en) , .drop-ar:lang(ar) , .drop-es:lang(es){
    display: none;
}

.nav{
    padding-top: 5px;
    --bs-nav-link-color: #4a4a4a;
    --bs-nav-link-hover-color: #000;
}

.topcorner{
    position:fixed;
    top:10px;
    right: 10px;
    z-index: 1060;
 }

ul:lang(ar){
    direction: rtl;
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 40px;
    background-color: white;
    padding-top: 10px;
}

@media (max-width: 576px){
    .nav{
        margin-top: 50px;
    }
    .sticky-top{
        display: none;
    }
    .contentDiv{
        margin-top: 160px;
    }
}

