body{
    margin-top: 2vh;
    font-family: 'Bodoni Moda', 'Noto Kufi Arabic', serif;
}

.nav{
    padding-top: 5px;
    --bs-nav-link-color: #4a4a4a;
    --bs-nav-link-hover-color: #000;
}
ul:lang(ar){
    direction: rtl;
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 40px;
    background-color: white;
    padding-top: 10px;
}

@media (max-width: 768px){
    .nav{
        padding-top: 0px;
    }
    .sticky-top{
        display: none;
    }
}

