*{
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda', 'Noto Kufi Arabic', serif;
}


.nav{
    padding-top: 5px;
    --bs-nav-link-color: #4a4a4a;
    --bs-nav-link-hover-color: #000;
}

.topcorner{
    position:absolute;
    top:10px;
    right: 10px;
    z-index: 1060;
 }

ul:lang(ar){
    direction: rtl;
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 40px;
    background-color: white;
    padding-top: 10px;
}

@media (max-width: 576px){
    .nav{
        margin-top: 50px;
    }
    .sticky-top{
        display: none;
    }
    .contentDiv{
        margin-top: 160px;
    }
}

