*{
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda', 'Noto Kufi Arabic', serif;
}


.menu-en:lang(en) , .menu-ar:lang(ar) , .menu-ar:lang(es){
    display: inline !important;
}

.drop-en:lang(en) , .drop-ar:lang(ar) , .drop-es:lang(es){
    display: none;
}


.landing{
    padding-top: 30vh;
    max-width: 1000px;
    min-height: 100vh;
}

.copyright-landing{
    margin-top: auto;
    margin-bottom: 10vh;
}

.lang-select{
    padding-top: 60px;
}

.brand-en{
    font-size: 4rem;
}

.brand-ar{
    font-size: 3rem;
}

.lang-select *{
    font-size: clamp(15px,3vw,18px);
}