body{
    font-family: 'Bodoni Moda', 'Noto Kufi Arabic', serif;
}

.menu-en:lang(en){
    display: inline !important;
}

.menu-ar:lang(ar){
    display: inline !important;
}

.menu-es:lang(es){
    display: inline !important;
}

.drop-en:lang(en){
    display: none;
}

.drop-ar:lang(ar){
    display: none;
}

.drop-es:lang(es){
    display: none;
}

.landing{
    padding-top: 30vh;
    max-width: 1000px;
    min-height: 100vh;
}

.copyright-landing{
    margin-top: auto;
    margin-bottom: 10vh;
}

.lang-select{
    padding-top: 60px;
}

.brand-en{
    font-size: 4rem;
}

.brand-ar{
    font-size: 3rem;
}