{% extends 'index.html'%}

{%block css%}
<link rel="stylesheet" href="{{url_for('static',filename = 'css/bio.css')}}">
{%endblock%}

{%block title%}
{{content['bio']}} | {{content['name']}}
{%endblock%}

{%block dispContent%}
<div class="row mt-5 justify-content-center align-items-center" id="main">
    <div class="col-md-5 col-12 justify-content-center align-items-center">
        <div class="img-div mx-auto">
            <img class="img-fluid" src="{{url_for('static',filename = 'assets/images/_profile.jpg')}}" alt="" id="pfp">
            <div class="text-end">Photo by Nael</div>
        </div>
    </div>
    <div class="col-md-5 col-12 justify-content-center px-5 pt-3">
    {% for text in content['about']%}
        <p class="lead about">
            {{text}}
        </p>
    {%endfor%}
    </div>
</div>
{%endblock%}

{%block js%}
    <script src="{{url_for('static',filename = 'js/bio.js')}}">
    </script>
{%endblock%}