{% extends 'index.html'%}

{%block css%}
<link rel="stylesheet" href="{{url_for('static',filename = 'css/contact.css')}}">
{%endblock%}

{%block title%}
{{content['contact']}} | {{content['name']}}
{%endblock%}

{%block dispContent%}
<h4 class="text-center">{{content['contact'].upper()}}</h4>
<br>
<div class="fs-5 d-flex justify-content-center weblinks">
    |
    <a class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="https://bettermailto.com/user/6469a70931dc163e3d49769c" target="_blank"> Email </a>
    |
    <a class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="https://instagram.com/lanakhayatstudio" target="_blank">Instagram</a> 
    |
    <a class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="https://wa.me/message/72MWMT4JVS72O1" target="_blank">WhatsApp</a> 
    |
</div>
<br>
<br>
<form action="https://formsubmit.co/25f335f4c9a180142e2de109b37c4703" method="post" id="contactForm" class="mx-auto">
    <div class="mb-3">
        <input type="text" class="form-control rounded-0" id="name" name="name"placeholder="{{content['fname']}}" required>
    </div>
    <div class="mb-3">
        <input type="email" class="form-control rounded-0" id="email" name="email"placeholder="{{content['email']}}" required>
    </div>
    <div class="mb-3">
        <textarea class="form-control rounded-0" id="message" rows="5" name="message" placeholder="{{content['msg']}}" required></textarea>
    </div>
    <button type="submit" class="btn btn-outline-dark rounded-0 submit" data-bs-toggle="modal" data-bs-target="#email-modal">{{content['submit']}}</button>
</form>

<!--  -->
{%endblock%}

{%block js%}
<script src="{{url_for('static',filename = 'js/contact.js')}}">
</script>
{%endblock%}