{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/home.css') }}">
{% endblock %}

{% block title %}
{{ content['home'] }} | {{ content['name'] }}
{% endblock %}

{% block dispContent %}
<div class="mainTile" id="mainTile-1">
    <div class="tile tile-1">
        <a href="/{{lang}}/selected_works" class="gen-link">
            <img src="{{url_for('static',filename='assets/images/hometiles_prepped/DSC_1586.jpg')}}" alt="">
            <div class="textDiv">
                Selected Works
            </div>
        </a>
    </div>
    <div class="tile tile-3">
        <a class="gen-link" href="https://www.cromwellplace.com/whats-on/artist-talk-lana-khayat-space-and-legitimacy-in-creating-art-as-a-woman-artist" target="_blank" rel="noopener noreferrer">
            <img  src="{{url_for('static',filename='assets/images/hometiles_prepped/talk_at_cromwell.jpg')}}" alt="">
        </a>
    </div>
</div>
<div class="mainTile" id="mainTile-2">
    <div class="tile tile-1">
        <img  src="{{url_for('static',filename='assets/images/hometiles_prepped/the_calm_in_the_chaos.jpg')}}" alt="">
    </div>
    <div class="tile tile-2">
        <img src="{{url_for('static',filename='assets/images/hometiles_prepped/children1.jpg')}}" alt="">
        <div class="hover-effect">
            <img src="{{url_for('static',filename='assets/images/hometiles_prepped/DSC_1579.jpg')}}" alt="">
            <div class="textDiv" >Art School Coming Very Soon!</div>
        </div>
    </div>
</div>
<div class="mainTile" id="mainTile-3">
    <div class="tile tile-1">
            <div class="hover-effect">
                <img src="{{url_for('static',filename='assets/images/hometiles_prepped/showcase_painting.jpeg')}}" alt="">
                <div class="textDiv">
                    <span class="showcase">Showcase</span> <br>
                    Cromwell Place,<br>
                    London, June 2023<br>
                </div>
            </div>
            <div class="textDiv">
                <span class="showcase">Showcase</span> <br>
                Cromwell Place,<br>
                London, June 2023<br>
            </div>
            
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{url_for('static',filename = 'js/home.js')}}"></script>
{% endblock %}
