<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=W, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Flag-icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/landing.css')}}">

    <title>Home | Lana Khayat</title>
</head>

<body>
    <div class="landing d-flex flex-column mx-auto align-items-center">
        <div class="col-10 text-center">
            <span class="brand-en">LANA KHAYAT</span> <br>
            <span class="brand-ar">لانا خيّاط</span>
        </div>
        <div class="lang-select">
            <span class="pe-2">Select Language:</span>
            <div class="dropdown d-inline">
                <button class="btn border dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="menu-en d-none"><span class="fi fi-us"></span>English</span>
                    <span class="menu-ar d-none"><span class="fi fi-lb"></span>العربية</span>
                    <span class="menu-es d-none"><span class="fi fi-es"></span>Español</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="drop-en"><a class="dropdown-item" href="/en">
                            <span class="fi fi-us"></span>English
                        </a></li>
                    <li class="drop-ar"><a class="dropdown-item" href="/ar">
                            <span class="fi fi-lb"></span>العربية
                        </a></li>
                    <li class="drop-es"><a class="dropdown-item" href="/es">
                            <span class="fi fi-es"></span>Español
                        </a></li>
                </ul>
                <a class="btn" href="/{{lang}}/bio"> Enter Site
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="copyright-landing">
            Copyright © Lana Khayat
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>

</html>